* {
  box-sizing: border-box;
}

.Page {
  background-color: #e8efec;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: 30px;
}

.top-of-the-site {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: auto;
  transition: all 0.4s ease;
  margin-bottom: 40px;
}

.header {
  font-weight: 300;
  font-size: 5em;
  margin-bottom: 20px;
}

.searcher {
  height: 5em;
  display: flex;
  &__input {
    width: 80%;
    height: 100%;
    padding: 20px;
    border: none;
    font-size: 34px;
    font-weight: 300;
  }
  &__button {
    height: 100%;
    width: 15vw;
    border-radius: 0px 100px 0px 0px;
    border: none;
    background-color: #1fb7ee;
    color: #fff;
    transition: all 0.4s ease;
    font-weight: 600;
    font-size: 30px;
    padding-right: 35px;
    cursor: pointer;
    &:hover {
      border-radius: 0px 50px 0px 0px;
    }
  }
}

.search-icon {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vw;
  font-size: 45px;
}

.routes {
  display: flex;
  width: 90vw;
  margin: 0;
  margin: auto;
  &__arrival {
    position: relative;
    height: 70px;
    width: 50vw;
    border: none;
    background-color: #1fb7ee;
    border-radius: 70px 70px 0 0;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.4s ease;
    &_selected {
      background-color: #fff;
      position: relative;
      height: 70px;
      width: 50vw;
      border: none;
      border-radius: 70px 70px 0 0;
      color: #1fb7ee;
      font-size: 20px;
      font-weight: 500;
      transition: all 0.4s ease;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__departure {
    position: relative;
    height: 70px;
    width: 50vw;
    border: none;
    background-color: #1fb7ee;
    border-radius: 70px 70px 0 0;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.4s ease;
    &_selected {
      color: #1fb7ee;
      background-color: #fff;
      z-index: 1;
      position: relative;
      transition: all 0.4s ease;
      height: 70px;
      width: 50vw;
      border: none;

      border-radius: 70px 70px 0 0;

      font-size: 20px;
      font-weight: 500;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.routes__departure-link {
  position: relative;
}

.routes__arrival-link {
  position: relative;
  right: 10vw;
}

.flights-data {
  margin: 0;

  width: 90vw;
  margin: auto;
  background-color: #fff;
}

.term {
  display: flex;
  width: 10%;
  align-items: center;
  justify-content: center;
}
.term-blue {
  margin: 0;
  display: flex;
  border: 1px solid #1fb7ee;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 700;
  color: #1fb7ee;
}
.term-green {
  display: flex;
  border: 1px solid #63c745;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 700;
  color: #63c745;
}
.time {
  display: flex;
  width: 10%;
  align-items: center;
  justify-content: center;
}
.list {
  display: flex;
  height: 60px;
  width: 100%;
  align-items: center;
  &:nth-child(even) {
    background-color: #e8efec;
  }
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

.btn-icons {
  margin-right: 10px;
}

.destination {
  width: 10%;
  text-align: center;
}

.status {
  width: 10%;
  text-align: center;
}

.airline {
  width: 30%;
  text-align: center;
}

.airline-logo {
  height: 30px;
  width: 40px;
}

.flight {
  width: 30%;
  text-align: center;
}

.departures {
  height: 70px;
  width: 400px;
}

.arrivals {
  height: 70px;
  width: 400px;
}

.details {
  width: 100%;
  display: flex;
  color: grey;
  padding-top: 25px;
  padding-bottom: 20px;
  background-color: #fff;
}

.detail-child {
  width: 10%;
  &:nth-child(5) {
    width: 30%;
  }
  &:nth-child(6) {
    width: 30%;
  }
}

.detail-child {
  text-align: center;
  width: 10%;
}
